<!DOCTYPE html>

<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		
		<!-- meta -->
		<head th:replace="common_replace :: meta"></head>
		
		<!-- javascript -->
		<script type="text/javascript" th:src="'..' + @{/javascript/store_plan.js}"></script>
		
		<!-- css -->
		<link rel="stylesheet" type="text/css" media="all" th:href="'..' + @{/css/store_plan.css}" />
		
		<!-- title -->
		<title>プラン一覧</title>
		
	</head>
	<body>
		<div id="header">
			<form method="get" th:action="@{/store_top}">
				<button type="submit" class="arrow_left" ></button>
			</form>
			<span>プラン一覧</span>
			
			<!-- ログアウト -->
			<button th:replace="common_replace :: logout"></button>
		</div>
		
		<div class="head_title">プラン</div>
		
		<!-- プラン追加 -->
		<form method="get" th:action="@{/store_plan_edit}">
			<button class="btn_2" type="submit">プランを追加</button>
		</form>
		
		<!-- プランリスト -->
		<div class="list_area">
			<div class="plan_div" th:each="plan: *{plans}">
				<span class="plan_span">
					<span class="plan_name" th:text="*{plan.name}"></span>
					<span class="plan_price" th:text="'￥' + *{plan.price}"></span>
					<span class="plan_interval" th:text="'(利用回数上限：' + *{plan.plan_interval} + 'ヵ月間で' + *{plan.count} + '回まで)'"></span>
				</span>
				<form class="plan_form" method="post" th:action="@{/store_plan_edit}">
					<input type="hidden" name="plan_id" th:value="*{plan.id}" />
					<button class="plan_edit_btn" type="submit">編集</button>
				</form>
			</div>
		</div>
		
		<div class="head_title" id="option_head">オプション</div>
		
		<!-- オプション追加 -->
		<form method="get" th:action="@{/store_option_edit}">
			<button class="btn_2" type="submit">オプションを追加</button>
		</form>
		
		<!-- オプションリスト -->
		<div class="list_area">
			<div class="plan_div" th:each="option: *{options}">
				<span class="plan_span">
					<span class="plan_name" th:text="*{option.name}"></span>
					<span class="plan_price" th:text="'￥' + *{option.price}"></span>
				</span>
				<form class="plan_form" method="post" th:action="@{/store_option_edit}">
					<input type="hidden" name="option_id" th:value="*{option.id}" />
					<button class="plan_edit_btn" type="submit">編集</button>
				</form>
			</div>
		</div>
		
	</body>
</html>