<!DOCTYPE html>

<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		
		<!-- meta -->
		<head th:replace="common_replace :: meta"></head>
		
		<!-- javascript -->
		<script type="text/javascript" th:src="'..' + @{/javascript/store_sales.js}"></script>
		
		<!-- css -->
		<link rel="stylesheet" type="text/css" media="all" th:href="'..' + @{/css/common_sales.css}" />
		
		<!-- title -->
		<title>契約状況</title>
		
	</head>
	<body>
		<div id="header">
			<form method="get" th:action="@{/store_top}">
				<button type="submit" class="arrow_left" ></button>
			</form>
			<span>契約状況</span>
			
			<!-- ログアウト -->
			<button th:replace="common_replace :: logout"></button>
		</div>
		
		<!-- メッセージ -->
		<ul th:replace="common_replace :: info_messages"></ul>
		<!-- エラーメッセージ -->
		<ul th:replace="common_replace :: error_messages"></ul>
		
		<!-- 請求一覧 -->
		<div th:replace="common_replace :: sales_area(true)"></div>
	</body>
</html>