<!DOCTYPE html>

<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		
		<!-- meta -->
		<head th:replace="common_replace :: meta"></head>
		
		<!-- javascript -->
		<script type="text/javascript" th:src="'..' + @{/javascript/store_option_edit.js}"></script>
		
		<!-- css -->
		<link rel="stylesheet" type="text/css" media="all" th:href="'..' + @{/css/store_option_edit.css}" />
		
		<!-- title -->
		<title>オプション編集</title>
		
	</head>
	<body>
		<div id="header">
			<form method="post" th:action="@{/store_plan}">
				<button type="submit" class="arrow_left" ></button>
			</form>
			<span>オプション編集</span>
			
			<!-- ログアウト -->
			<button th:replace="common_replace :: logout"></button>
		</div>
		
		<!-- メッセージ -->
		<ul th:replace="common_replace :: info_messages"></ul>
		<!-- エラーメッセージ -->
		<ul th:replace="common_replace :: error_messages"></ul>
		
		<form method="post" th:action="@{/delete_option}" th:object="${option}" onSubmit="return confirmDelete();">
			
			<input type="hidden" th:field="*{id}" required/>
			<input type="hidden" th:field="*{store_id}" required/>
			<input type="hidden" th:field="*{name}" required/>
			<input type="hidden" th:field="*{price}" required/>
			<input type="hidden" th:field="*{plan_interval}" required/>
			<input type="hidden" th:field="*{count}" required/>
			<input type="hidden" th:field="*{is_delete}" required/>
			
			<button type="submit" class="btn_3">削除</button>
		</form>
		
		<form method="post" th:action="@{/save_option}" th:object="${option}">
			
			<!-- オプションエリア -->
			<div th:replace="common_replace :: plan_edit_area(オプション)"></div>
			
		</form>
	</body>
</html>